# Apple Desktop Services Store
*.DS_Store
.DS_Store

# Database of the Neural Network
/Neural_Network_Section/Torch_NN/data/train_data
/Neural_Network_Section/Torch_NN/data/test_data

__pycache__/

*.vscode/
*.VSCodeCounter/
*.pth
*.gz
*.mdb
